<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Card Reader</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Card Type" formControlName="cardType" readonly />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Card Serial" formControlName="cardSerial" readonly />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="status">
            <mat-radio-button value="success">Success</mat-radio-button>
            <mat-radio-button value="failed">Failed</mat-radio-button>
            <mat-radio-button value="unknown">Unknown</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button">Scan</button>
      <button mat-raised-button color="primary" type="button">Write</button>
    </mat-card-actions>
  </mat-card>
</form>
